In [1]:
import pandas as pd
import numpy as np

from ipywidgets import IntProgress
from IPython.display import display

In [2]:
dataframe = pd.read_csv("./data/PAMAP2_Dataset/Protocol/subject101.dat", delimiter=' ', header=None)

In [3]:
dataframe.head(5)

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,8.38,0,104.0,30.0,2.37223,8.60074,3.51048,2.43954,8.76165,3.35465,...,0.008300,0.009250,-0.017580,-61.1888,-38.9599,-58.1438,1.0,0.0,0.0,0.0
1,8.39,0,NaN,30.0,2.18837,8.56560,3.66179,2.39494,8.55081,3.64207,...,-0.006577,-0.004638,0.000368,-59.8479,-38.8919,-58.5253,1.0,0.0,0.0,0.0
2,8.40,0,NaN,30.0,2.37357,8.60107,3.54898,2.30514,8.53644,3.73280,...,0.003014,0.000148,0.022495,-60.7361,-39.4138,-58.3999,1.0,0.0,0.0,0.0
3,8.41,0,NaN,30.0,2.07473,8.52853,3.66021,2.33528,8.53622,3.73277,...,0.003175,-0.020301,0.011275,-60.4091,-38.7635,-58.3956,1.0,0.0,0.0,0.0
4,8.42,0,NaN,30.0,2.22936,8.83122,3.70000,2.23055,8.59741,3.76295,...,0.012698,-0.014303,-0.002823,-61.5199,-39.3879,-58.2694,1.0,0.0,0.0,0.0

In [4]:
dataframe.iloc[:, 1].value_counts()

0     126460
1      27187
6      23575
17     23573
2      23480
16     22941
4      22253
3      21717
5      21265
7      20265
12     15890
13     14899
24     12912
Name: 1, dtype: int64

In [5]:
from glob import glob

dat_ls = glob('./data/PAMAP2_Dataset/Protocol/*.dat')

In [6]:
dataframe = pd.DataFrame()
for dat_path in dat_ls:
    dataframe = pd.concat([dataframe,
                           pd.read_csv(dat_path, delimiter=' ', header=None)], ignore_index=True)

In [7]:
dataframe.head(5)

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,8.38,0,104.0,30.0,2.37223,8.60074,3.51048,2.43954,8.76165,3.35465,...,0.008300,0.009250,-0.017580,-61.1888,-38.9599,-58.1438,1.0,0.0,0.0,0.0
1,8.39,0,NaN,30.0,2.18837,8.56560,3.66179,2.39494,8.55081,3.64207,...,-0.006577,-0.004638,0.000368,-59.8479,-38.8919,-58.5253,1.0,0.0,0.0,0.0
2,8.40,0,NaN,30.0,2.37357,8.60107,3.54898,2.30514,8.53644,3.73280,...,0.003014,0.000148,0.022495,-60.7361,-39.4138,-58.3999,1.0,0.0,0.0,0.0
3,8.41,0,NaN,30.0,2.07473,8.52853,3.66021,2.33528,8.53622,3.73277,...,0.003175,-0.020301,0.011275,-60.4091,-38.7635,-58.3956,1.0,0.0,0.0,0.0
4,8.42,0,NaN,30.0,2.22936,8.83122,3.70000,2.23055,8.59741,3.76295,...,0.012698,-0.014303,-0.002823,-61.5199,-39.3879,-58.2694,1.0,0.0,0.0,0.0

In [8]:
dataframe.iloc[:, 1].value_counts()

0     929661
4     238761
17    238690
1     192523
3     189931
7     188107
2     185188
16    175353
6     164600
12    117216
13    104944
5      98199
24     49360
Name: 1, dtype: int64

In [9]:
# dropping activities different than: other, sitting, standing, running, rope jumping
dataframe.drop(dataframe[(dataframe.iloc[:, 1] != 0)
                        & (dataframe.iloc[:, 1] != 2)
                        & (dataframe.iloc[:, 1] != 3)
                        & (dataframe.iloc[:, 1] != 5)
                        & (dataframe.iloc[:, 1] != 24)].index, inplace=True)

In [10]:
dataframe.iloc[:, 1].value_counts()

0     929661
3     189931
2     185188
5      98199
24     49360
Name: 1, dtype: int64

In [11]:
# dropping chest and ankle IMU data
dataframe.drop(dataframe.columns[(dataframe.columns > 19)], axis=1, inplace=True)

In [12]:
dataframe.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')

In [13]:
dataframe.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,8.38,0,104.0,30.0,2.37223,8.60074,3.51048,2.43954,8.76165,3.35465,-0.092217,0.056812,-0.015845,14.6806,-69.2128,-5.58905,1.0,0.0,0.0,0.0
1,8.39,0,NaN,30.0,2.18837,8.56560,3.66179,2.39494,8.55081,3.64207,-0.024413,0.047759,0.006474,14.8991,-69.2224,-5.82311,1.0,0.0,0.0,0.0
2,8.40,0,NaN,30.0,2.37357,8.60107,3.54898,2.30514,8.53644,3.73280,-0.057976,0.032574,-0.006988,14.2420,-69.5197,-5.12442,1.0,0.0,0.0,0.0
3,8.41,0,NaN,30.0,2.07473,8.52853,3.66021,2.33528,8.53622,3.73277,-0.002352,0.032810,-0.003747,14.8908,-69.5439,-6.17367,1.0,0.0,0.0,0.0
4,8.42,0,NaN,30.0,2.22936,8.83122,3.70000,2.23055,8.59741,3.76295,0.012269,0.018305,-0.053325,15.5612,-68.8196,-6.28927,1.0,0.0,0.0,0.0

In [14]:
win_length = 300   # length of time window in ms
undersampling = 25 # add every n-th sample
win_step = win_length//4

progress = IntProgress(min=0, max=len(dataframe)//win_step)
display(progress)

windowed_arr = []
for win_end in range(win_length, len(dataframe), win_step):
    win_start = win_end - win_length
    activity = int(dataframe.iloc[win_start, 1])
    
    features = [activity]
    is_consistent = True
    for j in range(win_start, win_end, undersampling):
        if dataframe.iloc[j, 1] != activity:
            is_consistent = False
            break
            
        if j + undersampling < win_end and abs(dataframe.iloc[j, 0] - dataframe.iloc[j + undersampling, 0]) > undersampling * 0.01:
            is_consistent = False
            break
            
        features = features + list(dataframe.iloc[j, 4:16])
    
    if is_consistent:
        windowed_arr.append(features)
        
    progress.value += 1

IntProgress(value=0, max=19364)

In [15]:
windowed_df = pd.DataFrame(windowed_arr)

In [16]:
windowed_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,135,136,137,138,139,140,141,142,143,144
0,0,2.37223,8.60074,3.51048,2.43954,8.76165,3.35465,-0.092217,0.056812,-0.015845,...,3.55511,2.92381,8.78856,3.56551,0.010339,0.035223,-0.015202,4.01899,-70.8092,-2.590940
1,0,2.29585,8.67686,3.47059,2.35174,8.62679,3.80806,-0.049142,-0.038741,-0.020873,...,3.43568,2.69787,8.68458,3.68677,0.169545,-0.045680,-0.018241,5.23624,-71.5280,-2.959810
2,0,2.87239,9.23323,2.55365,2.96491,9.14991,2.70393,-0.430040,0.862167,0.438581,...,2.96389,4.31043,7.46421,3.09887,0.213801,0.629110,-0.319256,9.08985,-68.9533,-0.545889
3,0,3.09022,9.35263,3.36474,3.01691,9.21065,3.45878,-0.132352,-0.150542,-0.018884,...,4.43231,2.38958,8.95931,4.39622,-0.462191,0.016133,0.049036,8.32884,-69.3952,-5.055360
4,0,2.87017,8.97734,3.63213,2.97282,9.06021,3.74607,-0.126235,0.030481,-0.038864,...,3.46768,2.18459,8.68819,3.58158,-0.372702,0.114139,-0.001781,15.90850,-69.6117,-5.491680

In [17]:
windowed_df.iloc[:, 0].value_counts()

0     12010
3      2503
2      2436
5      1288
24      636
Name: 0, dtype: int64

In [20]:
windowed_df.to_csv(f'./data/PAMAP2_Extracted_{win_length}_{undersampling}.csv')

In [19]:
windowed_df.shape

(18873, 145)